magenta_node_flows.json
[{"id":"94a1d2e1.bd5028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7349d6c.9fb5f8","type":"inject","z":"94a1d2e1.bd5028","name":"Connect to Magenta Server","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"Magenta7828a\"}","payloadType":"str","x":170,"y":80,"wires":[["b36d2aea.59cf2"]]},{"id":"b36d2aea.59cf2","type":"tcp request","z":"94a1d2e1.bd5028","server":"localhost","port":"65432","out":"sit","splitc":" ","name":"nodered","x":280,"y":280,"wires":[["1bcaba88.d1bb4d"]]},{"id":"8c98412a.b2418","type":"debug","z":"94a1d2e1.bd5028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":420,"wires":[]},{"id":"1bcaba88.d1bb4d","type":"function","z":"94a1d2e1.bd5028","name":"Byte to ASCII","func":"msg.payload = Buffer.from(msg.payload);\nmsg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["8c98412a.b2418","ec135755.5f5658"]]},{"id":"ec135755.5f5658","type":"switch","z":"94a1d2e1.bd5028","name":"Action Checker","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"open the windows","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":320,"wires":[["5f7e3219.27ae5c"]]},{"id":"68b3bdac.a427ac","type":"inject","z":"94a1d2e1.bd5028","name":"Send Reply to Magenta","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"response\":\"Action Performed\"}","payloadType":"str","x":260,"y":500,"wires":[["b36d2aea.59cf2"]]},{"id":"5f7e3219.27ae5c","type":"function","z":"94a1d2e1.bd5028","name":"Open Window","func":"\nmsg.payload = \"{\\\"response\\\":\\\"Action Performed\\\"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":180,"wires":[["b36d2aea.59cf2"]]}]