magenta_node_flows.json
[
    {
        "id": "c69f547e.f47978",
        "type": "tab",
        "label": "Magenta Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "79e90afe.7f6694",
        "type": "debug",
        "z": "c69f547e.f47978",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "5faffb4.5d2ff04",
        "type": "delay",
        "z": "c69f547e.f47978",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "ec0d3fe1.760ba"
            ]
        ]
    },
    {
        "id": "ec0d3fe1.760ba",
        "type": "function",
        "z": "c69f547e.f47978",
        "name": "Nicht verstanden",
        "func": "\nmsg.payload = \"Das habe ich nicht verstanden.\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 540,
        "wires": [
            [
                "79e90afe.7f6694",
                "52f38199.90a13"
            ]
        ]
    },
    {
        "id": "52f38199.90a13",
        "type": "magenta-connector",
        "z": "c69f547e.f47978",
        "name": "Magenta Connector",
        "host": "localhost",
        "port": "65432",
        "device": "MagentaXXXXX",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "3838e34f.6dd66c",
                "e6c69f3c.307c1"
            ]
        ]
    },
    {
        "id": "3fccc1fa.ec635e",
        "type": "inject",
        "z": "c69f547e.f47978",
        "name": "Alarm Notification",
        "topic": "",
        "payload": "notification There was an alarm event at 5am.",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 60,
        "wires": [
            [
                "52f38199.90a13"
            ]
        ]
    },
    {
        "id": "3838e34f.6dd66c",
        "type": "switch",
        "z": "c69f547e.f47978",
        "name": "regexing",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Temperatur",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Licht",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 140,
        "y": 320,
        "wires": [
            [
                "15692c70.567c24"
            ],
            [
                "90bf7d20.f051a"
            ],
            [
                "5faffb4.5d2ff04"
            ]
        ]
    },
    {
        "id": "e6c69f3c.307c1",
        "type": "debug",
        "z": "c69f547e.f47978",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 60,
        "wires": []
    },
    {
        "id": "15692c70.567c24",
        "type": "function",
        "z": "c69f547e.f47978",
        "name": "Antwort Temperatur",
        "func": "\n\nmsg.payload = \"Die Raumtemperatur betraegt 20 Grad\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "79e90afe.7f6694",
                "52f38199.90a13"
            ]
        ]
    },
    {
        "id": "ca49fd0b.424e5",
        "type": "function",
        "z": "c69f547e.f47978",
        "name": "Antwort Licht an",
        "func": "\nmsg.payload = \"Das Licht wurde eingeschaltet\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 360,
        "wires": [
            [
                "79e90afe.7f6694",
                "52f38199.90a13"
            ]
        ]
    },
    {
        "id": "90bf7d20.f051a",
        "type": "switch",
        "z": "c69f547e.f47978",
        "name": "regexing",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ein",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "an",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "aus",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "dunkel",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 380,
        "y": 380,
        "wires": [
            [
                "ca49fd0b.424e5"
            ],
            [
                "ca49fd0b.424e5"
            ],
            [
                "9ff8478a.a47b28"
            ],
            [
                "9ff8478a.a47b28"
            ],
            []
        ]
    },
    {
        "id": "9ff8478a.a47b28",
        "type": "function",
        "z": "c69f547e.f47978",
        "name": "Antwort Licht an",
        "func": "\nmsg.payload = \"Das Licht wurde ausgeschaltet\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "52f38199.90a13",
                "79e90afe.7f6694"
            ]
        ]
    }
]